@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato,sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #053B50;
}